.search-box {
    width: 200px;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
 
  .cart-count {
    background-color: #e63946;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 12px;
    margin-left: 3px;
  }

  .post-related{
    height: 30px;
    width: auto;

  }

  .background {
    background-color: #cf412b;
    margin-top: 40px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
  }
.post-time{
 
  height: 40px;
  width: auto;
}
.photo{
  width: auto;
  height: 400px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(../images/editor.jpg);
}

input{
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
}
.btn1{
  width: 400px;
  height: 40px;
  border: none;
}
.from-part{
  height: 400px;
}
.card {
      position: relative;
      overflow: hidden;
      border: none;
    }

    .card img {
      height: 400px;
      object-fit: cover;
    }

    .card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      color: white;
    }

    .play-btn {
      width: 50px;
      height: 50px;
      background-color: #e74c3c;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    .play-btn i {
      color: white;
      font-size: 24px;
    }

    .meta {
      font-size: 0.9rem;
      opacity: 0.8;
    }


.footer-area{
  height: 600px;
  width: 100%;
  background-color: black;
}

.social-btn {
      width: 60px;
      height: 60px;
      border: 1px solid #ccc;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      color: white;
      background-color: transparent;
      transition: 0.3s;
    }

    .social-btn:hover {
      background-color: #ffffff10;
      border-color: #fff;
    }

    .social-icons {
      
      padding: 30px 0;
    }

    .fa-brands, .fa {
      font-size: 24px;
    }